body{
 display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 16px;
}
.containers{
	
	flex-direction: column;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 60%; 
}